{% extends "base.html" %}

{% block header %}
  <h1>Delete record {{ val_dict['type'] }} {{ val_dict['name'] }}?</h1>
{% endblock %}

{% block body %}
<form action="{{ url_for('records.delete', zone_id=zone_id) }}" method="post">
  <input type="hidden" value="{{ val_dict['name'] }}" name="data_name" />
  <input type="hidden" value="{{ val_dict['type'] }}" name="data_type" />
  <input type="hidden" value="{{ val_dict['ttl'] }}" name="data_ttl" />
  <input type="hidden" value="{{ alias_hosted_zone_id }}" name="data_alias_hosted_zone_id" />
  <input type="hidden" value="{{ alias_dns_name }}" name="data_alias_dns_name" />
  {% for value in values %}
  <input type="hidden" value="{{ value }}" name="data_value" />
  {% endfor %}
  <div class="actions">
    <button type="submit" class="btn primary">Yes, delete it</button>
    <a class="btn" href="{{ url_for('zones.zones_records', zone_id=zone_id) }}">Cancel</a>
  </div>
</form>
{% endblock %}
