{% extends "base.html" %}

{% block breadcrumbs %}
  <li><a href="{{ url_for('zones.zones_list') }}">Zones</a></li>
  <li>{{ zone['Name'] }}</li>
{% endblock %}

{% block header %}
    <h1>{{ zone['Name'] }}
        <a href="{{ url_for('records.records_new', zone_id=zone['Id']|shortid) }}" class="btn primary">Create New Record</a>
        <a href="{{ url_for('zones.zones_clone', zone_id=zone['Id']|shortid) }}" class="btn">Clone Zone</a>
        <a href="{{ url_for('zones.zones_delete', zone_id=zone['Id']|shortid) }}" class="btn danger">Delete Zone</a>
    </h1>
{% endblock %}

{% block body %}
<div class="row">
<div class="span10">
<h2>Nameservers</h2>
<ul class="unstyled">
  {% for ns in nameservers %}
  <li>{{ ns }}</li>
  {% endfor %}
</ul>
</div>
<div class="span4">

</div>
</div>


{% if groups %}
    <table class="zebra-striped">
    <thead>
        <th>Type</th>
        <th>Name</th>
        <th>TTL</th>
        <th></th>
        <th></th>
    </thead>

    {% for groupname, recordsets in groups %}

    {% for recordset in recordsets %}
    <tr>
        <td>{{ groupname }}</td>
        <td>
            <strong>{{ recordset.name }}</strong> -> {{recordset.resource_records|join(',')}}
            {% if recordset.alias_dns_name and recordset.alias_hosted_zone_id %}
            <p>{{ recordset.to_print() }}</p>
            {% endif %}
        </td>
        <td>{{ recordset.ttl }}</td> <!-- converts secs to mins, hours, days, or whatevs -->
            {% if recordset.resource_records %}
            <td>
                <a href="{{ url_for('records.records_update', zone_id=zone_id) }}?type={{ recordset.type|urlencode }}&amp;name={{ recordset.name|urlencode }}{% for value in recordset.resource_records %}&amp;value={{ value|urlencode }}{% endfor %}&amp;ttl={{ recordset.ttl }}" class="btn">Edit</a>
            </td>
            <td>
                <a href="{{ url_for('records.records_delete', zone_id=zone_id) }}?type={{ recordset.type|urlencode }}&amp;name={{ recordset.name|urlencode }}{% for value in recordset.resource_records %}&amp;value={{ value|urlencode }}{% endfor %}&amp;ttl={{ recordset.ttl }}{% if recordset.alias_dns_name %}&amp;alias_dns_name={{ recordset.alias_dns_name|urlencode }}{% endif %}{% if recordset.alias_hosted_zone_id %}&amp;alias_hosted_zone_id={{ recordset.alias_hosted_zone_id|urlencode }}{% endif %}" class="btn danger">Delete</a>
            </td>
            {% else %}
                <td colspan="2"><em>(This record cannot be edited)</em></td>
            {% endif %}
    </tr>
    {% endfor %}
    {% endfor %}
    </table>
{% endif %}
{% endblock %}
