{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block header %}
  <h1>Add new zone</h1>
{% endblock %}

{% block body %}
<form action="{{url_for('zones.zones_new')}}" method="post" accept-charset="utf-8" class="form-stacked">
  {{ form.csrf_token }}
  <fieldset>
    {{ render_field(form.name) }}
    {{ render_field(form.comment) }}
  </fieldset>
  <div class="actions">
    <button type="submit" class="btn primary">Add</button>
    <a href="{{ url_for('zones.zones_list') }}" class="btn">Cancel</a>
  </div>
</form>
{% block afterform %}{% endblock %}
{% endblock %}
